<div class="modal-parent" (click)="modalClose()">
    <div class="modal-dialog modal-dialog-centered" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div (click)="$event.stopPropagation()" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        <ng-content select='h5'></ng-content>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalClose()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-content select=[modalTitle]></ng-content>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="modalClose()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>